{% extends 'base.html' %}
{% set active_page = "create_post" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  
	<h1 class="page-header">
	  <span>Create New Post</span>
	</h1>

	<form id="create-post" method="post">

		<div class="form-group">

			<label for="post-title">Title</label>
			<input type="text" class="form-control" id="post-title" name="post-title" placeholder="Title" />

		</div>

		<div class="form-group">

			<label for="post-content">Content</label>
			<textarea rows="25" class="form-control" id="post-content" name="post-content" placeholder="Post content."></textarea>

		</div>

		<div class="form-group">

			<button id="create-post-submit" class="button-positive">Create Post</button>

		</div>

	</form>

	<div class="row notification-wrapper">

		<div class="col-sm-12 notification-success">

			<p><span class="success-message-1"></span></p>
			<p><span class="success-message-2"></span></p>

		</div>

		<div class="col-sm-12 notification-failure">

			<p><span class="failure-message-1"></span></p>
			<p><span class="failure-message-2"></span></p>

		</div>

	</div>

</div>
{% endblock %}