{% extends 'base.html' %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<div class="row">

		<div class="col-sm-7 col-md-8">

			<h1 class="page-header">
				<span>Edit Post</span>
			</h1>

		</div>

	</div>

	<form id="update-post" method="post">

	<div class="row">

		<div class="col-sm-7 col-md-8">

			<div class="form-group">
					
				{{ form.title.label }}
				{{ form.title(class_="form-control") }}
	
			</div>
	
			<div class="form-group">
	
				{{ form.content.label }}
				{{ form.content(rows="25", class_="form-control") }}
	
			</div>
	
			<div class="form-group">
	
				{{ form.csrf_token }}
				<input type="hidden" id="hidden-id" value="{{ id }}" />
				<button id="update-post-submit" class="button-positive">Update Post</button>
	
			</div>

		</div>

		<div class="col-sm-3 col-md-4">

			<div class="form-group">
					
				{{ form.featured_image.label }}
				<img src="data:image/jpg;base64, {{ featured_image }}" class="img-responsive" />
				{{ form.featured_image(class="form-control") }}
	
			</div>

		</div>
  
	</div>

	</form>

	<div class="row notification-wrapper">

		<div class="col-sm-12 notification-success">

			<p><span class="success-message-1"></span></p>
			<p><span class="success-message-2"></span></p>

		</div>

		<div class="col-sm-12 notification-failure">

			<p><span class="failure-message-1"></span></p>
			<p><span class="failure-message-2"></span></p>

		</div>

	</div>

</div>
{% endblock %}