{% extends 'base.html' %}
{% set active_page = "user_settings" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h1 class="page-header">
    <span>User Settings</span>
  </h1>

  <form id="user-settings" method="post">

		<div class="form-group">

			{{ form.first_name.label }}
			{{ form.first_name(class_="form-control") }}

		</div>

		<div class="form-group">

			{{ form.last_name.label }}
			{{ form.last_name(class_="form-control") }}

		</div>

		<div class="form-group">

			{{ form.csrf_token }}
			<button id="update-settings-submit" class="button-positive">Update</button>

		</div>

	</form>

	<div class="row notification-wrapper">

		<div class="col-sm-12 notification-success">

			<p><span class="success-message-1"></span></p>
			<p><span class="success-message-2"></span></p>

		</div>

		<div class="col-sm-12 notification-failure">

			<p><span class="failure-message-1"></span></p>
			<p><span class="failure-message-2"></span></p>

		</div>

	</div>

</div>
  {% endblock %}