{% extends 'base.html' %}
{% set active_page = "view_posts" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h1 class="page-header">
	  <span>View Posts</span>
	</h1>

	<div class="view-posts-content">

		<table class='table table-striped view-posts-table'>

			<thead>
				
				<tr>
					
					<th>Post Title</th>
					<th>Date Posted</th>
					<th>View Post</th>
					<th>Edit Post</th>
					<th>Delete Post</th>
				
				</tr>
			
			</thead>

			<tbody>

			{% if posts.count() > 0 %}

				{% for post in posts %}

					<tr class="row-{{ post.id }}">

						<td><a href="/edit-post/{{ post.id }}">{{ post.title }}</a></td>
						<td>{{ post.date_posted.strftime('%a %d %b %Y %H:%M') }}</td>
						<td><button class='btn-view-post'><span class="glyphicon glyphicon-search" aria-hidden="true"></span> View Post</button></td>
						<td><button id='edit-post-{{ post.id }}'class='btn-edit-post'><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Post</button></td>
						<td><button data-toggle="modal" data-target="#galactic-modal" id='delete-post-{{ post.id }}'class='btn-delete-post'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Post</button></td>

				</tr>
				
				{% endfor %}

			{% else %}

			<tr>
				<td class='zero-posts' colspan='5'><p>No posts currently exist.</p><p>Why not <a href='./create-post'>add a new post</a>?</p></td>
			</tr>
			
			{% endif %}

			</tbody>

		</table>

	</div>

	<div class="row notification-wrapper">

		<div class="col-sm-12 notification-success">

			<p><span class="success-message-1"></span></p>
			<p><span class="success-message-2"></span></p>

		</div>

		<div class="col-sm-12 notification-failure">

			<p><span class="failure-message-1"></span></p>
			<p><span class="failure-message-2"></span></p>

		</div>

	</div>

</div>
{% endblock %}