<!doctype html>

<html>

    <head>

        <title>{{ config.title }}</title>

        <meta charset="utf-8" />
        <meta name="description" content="{{ config.meta_description }}" />
        <meta name="keywords" content="{{ config.meta_keywords }}" />

        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Google WebFonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <!-- Stylesheets -->
        <link href="{{ url_for('static', filename='theme_assets/css/style.css') }}" rel="stylesheet" /> 
        <link href="{{ url_for('static', filename='theme_assets/css/animate.css') }}" rel="stylesheet" />

    </head>

    <body>

        <h1>Default Galactic CMS Theme</h1>

    </body>

</html>